body{
    text-align: center;
    background: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}

h1{
    color: black;
    font-weight: 200;
    font-size: 50px;
    margin: 40px 0px 20px;
}

#mainpage{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rebeccapurple;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#mainpage > div{
    padding: 15px;
    border-radius: 5px;
    background: lightgray;
    display: inline-block;
}

#mainpage > p{
    padding: 15px;
    border-radius: 3px;
    background: red;
    display: inline-block;
}

label{
    padding-top: 5px;
    font-size: 16px;
    border-color: black;
}

#stop{
    padding: 20px;
    border-radius: 5px;
    background: rosybrown;
    display: inline-block;
}

